<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img class="img-responsive center-block mb-3" src="{{user.image}}" style="width: 300px;" alt="使用者圖像">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{user.name}}</h5>
        <p class="card-text">{{user.email}}</p>
        <a href="/users/{{user.id}}/edit" class="btn btn-primary">edit</a>
          <a href="javascript:history.back()" class="btn btn-secondary">Back</a>
      </div>
    </div>
  </div>
</div>
